<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indicadores</title>
  <link rel="stylesheet" href="../css/view.css" />
  <link rel="stylesheet" href="../css/principal.css" />
</head>

<body>
    <header>
      <img src="../img/logo.png" alt="logo_medsoft">
      <nav>
        <ul class="navlist">
          <li><a href="../index.html">PROJETOS</a></li>
          <li><a href="../sobre.html">SOBRE</a></li>
        </ul>
      </nav>
    </header>

    <div class="titulo">
        <h3>INDICADORES</h3>
    </div>

    <main>
        <div class="descricao">
            <h1>Demonstra</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Tipo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Como calcular</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Como analisar</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Termo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Noção</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Impacto</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Sinônimo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Fonte</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Tipo</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Formato</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <h1>Restrição</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              
        </div>
        <a href="../objetivos/objetivosView.html"><button class="btnview centro">Voltar</button></a>
    </main>
    
  </div>
  <footer>
      <p>MEDSoft © 2022</p>
    </footer>
</body>

</html>