<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Indicador Organizacional</title>
  <link rel="stylesheet" href="/views/css/principal.css" />
</head>

<body>
  <div class="container">
    <header>
      <img src="/views/img/logo.png" alt="logo_medsoft">
      <nav>
        <ul class="navlist">
          <li><a href="./indicadores.html">PROJETOS</a></li>
          <li><a href="./lexicos.html">SOBRE</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>INDICADOR ORGANIZACIONAL</h2>
      <div class="formIndicadores">
        <div class="esquerda">
          <label for="name">Nome do Indicador</label><br>
          <input type="text" id="name" placeholder="Insira o nome do indicador"><br>
          <label for="type">Tipo</label><br>
          <input type="text" id="type" placeholder="Insira o tipo"><br>
          <label for="analyses">Como Analisar</label><br>
          <input type="text" id="analyses" placeholder="Insira como analisar"><br>
          <label for="type">Nome do Léxico</label><br>
          <input type="text" id="lex" placeholder="Insira o nome do léxico"><br>
          <label for="notion">Noção do Léxico</label><br>
          <input type="text" id="notion" placeholder="Insira a noção"><br>
          <label for="sinonimus">Sinônimo do Léxico</label><br>
          <input type="text" id="sinonimus" placeholder="Insira o sinônimo"><br>
          <label for="source">Fonte do Léxico</label><br>
          <input type="text" id="source" placeholder="Insira a fonte"><br>
        </div>
        <div class="direita">
          <label for="demonstra">Demonstra</label><br>
          <input type="text" id="demonstra" placeholder="Insira a demonstra"><br>
          <label for="typelex">Tipo do Léxico</label><br>
          <input type="text" id="typelex" placeholder="Insira o tipo"><br>
          <label for="restriction">Restrição do Léxico</label><br>
          <input type="text" id="restriction" placeholder="Insira a restrição"><br>
          <label for="calculo">Como Calcular</label><br>
          <input type="text" id="calculo" placeholder="Insira como calcular"><br>
          <label for="impact">Impacto</label><br>
          <input type="text" id="impact" placeholder="Insira o impacto"><br>
          <label for="format">Formato do Léxico</label><br>
          <input type="text" id="format" placeholder="Insira o formato"><br>
          <button type="submit">Salvar</button>
        </div>
      </div>
    </main>

    <footer>
      <p>MEDSoft © 2022</p>
    </footer>
</body>