<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propósitos</title>
    <link rel="stylesheet" href="../css/principal.css" />
</head>

<body>
    <div class="container">
        <header>
            <img src="../img/logo.png" alt="logo_medsoft">
            <nav>
                <ul>
                    <li><a href="./medicao.html">Medição</a></li>
                    <li><a href="./diretrizes.html">Diretrizes</a></li>
                    <li><a href="./objetivos.html">Objetivos</a></li>
                    <li><a href="./indicadores.html">Indicadores</a></li>
                    <li><a href="./lexicos.html">Léxicos</a></li>
                </ul>
            </nav>
        </header>

        <div class="titulo">
            <p>PROPÓSITOS DE MEDIÇÃO</p>
        </div>

        <div class="search">
            <input type="text" placeholder="Consultar">
            <button><img src="../img/lupa.png"></button>
        </div>

        <main>
            <div class="propositos">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>AÇÃO</th>
                        <th>NOME</th>
                    </tr>
                    <tr>
                        <td><a href="/medicao/medicaoView.html">P01</a></td>
                        <td>Propósito 1</td>
                        <td><a href="/medicao/medicaoEdit.html"><img src="../img/lapis.png" class="icon" /></a><img
                                src="../img/lixeira.png" class="icon" /></td>
                    </tr>
                    <tr>
                        <td><a href="/medicao/medicaoView.html">P02</a></td>
                        <td>Propósito 2</td>
                        <td><a href="/medicao/medicaoEdit.html"><img src="../img/lapis.png" class="icon" /></a><img
                                src="../img/lixeira.png" class="icon" /></td>
                    </tr>
                    <tr>
                        <td><a href="/medicao/medicaoView.html">P03</a></td>
                        <td>Propósito 3</td>
                        <td><a href="/medicao/medicaoEdit.html"><img src="../img/lapis.png" class="icon" /></a><img
                                src="../img/lixeira.png" class="icon" /></td>
                    </tr>
                    <tr>
                        <td><a href="/medicao/medicaoView.html">P04</a></td>
                        <td>Propósito 4</td>
                        <td><a href="/medicao/medicaoEdit.html"><img src="../img/lapis.png" class="icon" /></a><img
                                src="../img/lixeira.png" class="icon" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="/medicao/medicaoEdit.html">Adicionar novo +</a></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </main>

        <footer>
            <p><br><br>MEDSoft © 2022</p>
        </footer>
    </div>
</body>

</html>