<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/principal.css" />
</head>

<body>
  <div class="container">
    <header>
      <img src="img/logo.png" alt="logo_medsoft">
      <nav>
        <ul class="navlist">
          <li><a href="./indicadores.html">PROJETOS</a></li>
          <li><a href="./lexicos.html">SOBRE</a></li>
        </ul>
      </nav>
    </header>

    <div class="search">
      <input type="text" placeholder="Pesquisar projeto">
      <button><img src="img/lupa.png"></button>
    </div>

    <main>
      <div class="tabelas">
        <h3 class="titulotabela">PROJETOS EM ANDAMENTO</h3>
        <table id="andamento">
          <tr>
            <th>AÇÃO</th>
            <th>NOME</th>
          </tr>
          <tr>
            <td><a href="/projeto/projetoEdit.html"><img src="img/lapis.png" class="icon" /></a><img src="img/lixeira.png" class="icon" /></td>
            <td><a href="/projeto/projeto.html">Projeto 1</a></td>
          </tr>
          <tr>
            <td><a href="/projeto/projetoEdit.html"><img src="img/lapis.png" class="icon" /></a><img src="img/lixeira.png" class="icon" /></td>
            <td><a href="/projeto/projeto.html">Projeto 2</a></td>
          </tr>
          <tr>
            <td><a href="/projeto/projetoEdit.html"><img src="img/lapis.png" class="icon" /></a><img src="img/lixeira.png" class="icon" /></td>
            <td><a href="/projeto/projeto.html">Projeto 3</a></td>
          </tr>
          <tr>
            <td><a href="/projeto/projetoEdit.html"><img src="img/lapis.png" class="icon" /></a><img src="img/lixeira.png" class="icon" /></td>
            <td><a href="/projeto/projeto.html">Projeto 4</a></td>
          </tr>
        </table>
        <div id="criar">
          <button class="botao"><a href="/projeto/projetoEdit.html">Criar Novo</a></button>
        </div>

        <h3 class="titulotabela">PROJETOS CONCLUÍDOS</h3>
        <table id="concluidos">
          <tr>
            <th>AÇÃO</th>
            <th>NOME</th>
          </tr>
          <tr>
            <td><button class="botao"><a href="/projeto/projeto.html">Visualizar</a></button></td>
            <td>Projeto 1</td>
          </tr>
          <tr>
            <td><button class="botao"><a href="/projeto/projeto.html">Visualizar</a></button></td>
            <td>Projeto 2</td>
          </tr>
          <tr>
            <td><button class="botao"><a href="/projeto/projeto.html">Visualizar</a></button></td>
            <td>Projeto 3</td>
          </tr>
          <tr>
            <td><button class="botao"><a href="/projeto/projeto.html">Visualizar</a></button></td>
            <td>Projeto 4</td>
          </tr>
        </table>
      </div>
    </main>

    <footer>
      <p><br><br>MEDSoft © 2022</p>
    </footer>
  </div>
</body>

</html>