<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/header-footer.css"/>
    <link rel="stylesheet" href="css/principal.css"/>
</head>

<body>
  <header>
    <img src="img/logo.png" alt="logo_medsoft">
    <nav>
      <ul>
        <li><a href="./medicao.html">Medição</a></li>
        <li><a href="./diretrizes.html">Diretrizes</a></li>
        <li><a href="./objetivos.html">Objetivos</a></li>
        <li><a href="./indicadores.html">Indicadores</a></li>
        <li><a href="./lexicos.html">Léxicos</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="search">
    <input type="text" placeholder="Pesquisar projeto">
    <img src="img/lupa.png">
  </div>

  <main>
    <div class="andamento">
      <h3>PROJETOS EM ANDAMENTO</h3>
      <table id="andamento">

      </table>
    </div>
    <div class="concluidos">
        <h3>PROJETOS CONCLUÍDOS</h3>
        <table id="concluidos">
            <tr>
                <th>AÇÃO</th>
                <th>NOME</th>
            </tr>
            <tr>
                <td><img src="img/lapis.png"/><img src="img/lixeira.png"/></td>
                <td>Projeto 1</td>
            </tr>
        </table>
    </div>
  </main>

  <footer>

  </footer>

</body>

</html>