<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/principal.css" />
</head>

<body>
  <header>
    <img src="img/logo.png" alt="logo_medsoft">
    <nav>
      <ul class="navlist">
        <li><a href="/index.html">PROJETOS</a></li>
        <li><a href="./sobre.html">SOBRE</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="tabelas">
      <h3 class="titulotabela">PROJETOS</h3>
      <table id="andamento">
        <tr>
          <th>AÇÃO</th>
          <th>NOME</th>
        </tr>
        <tr>
          <td><a href="./projeto/projetoEdit.html"><img src="./img/lapis.png" class="icon" /></a><img src="./img/lixeira.png" class="icon" /></td>
          <td><a href="./projeto/projeto.html">Projeto 1</a></td>
        </tr>
        <tr>
          <td><a href="./projeto/projetoEdit.html"><img src="./img/lapis.png" class="icon" /></a><img src="./img/lixeira.png" class="icon" /></td>
          <td><a href="./projeto/projeto.html">Projeto 2</a></td>
        </tr>
        <tr>
          <td><a href="./projeto/projetoEdit.html"><img src="./img/lapis.png" class="icon" /></a><img src="./img/lixeira.png" class="icon" /></td>
          <td><a href="./projeto/projeto.html">Projeto 3</a></td>
        </tr>
        <tr>
          <td><a href="./projeto/projetoEdit.html"><img src="./img/lapis.png" class="icon" /></a><img src="./img/lixeira.png" class="icon" /></td>
          <td><a href="./projeto/projeto.html">Projeto 4</a></td>
        </tr>
      </table>

      <a href="./projeto/projetoEdit.html"><button class="botao">Criar Novo</button></a>

    </div>
  </main>

  <footer>
    <p>MEDSoft © 2022</p>
  </footer>
</body>

</html>