<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultado</title>
  <link rel="stylesheet" href="./css/view.css" />
  <link rel="stylesheet" href="./css/principal.css" />
</head>

<body>
    <header>
      <img src="./img/logo.png" alt="logo_medsoft">
      <nav>
        <ul class="navlist">
          <li><a href="./index.html">PROJETOS</a></li>
          <li><a href="./sobre.html">SOBRE</a></li>
        </ul>
      </nav>
    </header>

    <div class="titulo">
        <h3>Resultado</h3>
    </div>

    <main>
        <div class="descricao">
            <h1>Descrição</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                pretium felis justo, in volutpat est facilisis id. Pellentesque
                maximus nunc at lorem varius, ac tristique orci efficitur. Mauris
                auctor purus sed tortor maximus, mollis elementum sapien
                pharetra.</p>

            <h1>Gráfico</h1>
            <table>
                <tr>
                    <td><img src="./img/grafico.png"></td>
                    <td><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                        pretium felis justo, in volutpat est facilisis id. Pellentesque
                        maximus nunc at lorem varius, ac tristique orci efficitur. Mauris
                        auctor purus sed tortor maximus, mollis elementum sapien
                        pharetra.</p></td>
                </tr>
            </table>
        </div>
        <a href="./projeto/projeto.html"><button class="btnview centro">Voltar</button></a>
    </main>
    
  </div>
  <footer>
      <p>MEDSoft © 2022</p>
    </footer>
</body>

</html>