<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  <link rel="stylesheet" href="css/principal.css" />
</head>

<body>
  <div class="containersobre">
    <header>
      <img src="/views/img/logo.png" alt="logo_medsoft">
      <nav>
        <ul class="navlist">
          <li><a href="./indicadores.html">PROJETOS</a></li>
          <li><a href="./lexicos.html">SOBRE</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>QUEM SOMOS</h2>
      <div class="sobre">
        <h1>O que é a MEDSoft</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          pretium felis justo, in volutpat est facilisis id. Pellentesque
          maximus nunc at lorem varius, ac tristique orci efficitur. Mauris
          auctor purus sed tortor maximus, mollis elementum sapien
          pharetra.</p>
      </div>
    </main>
  </div>

  <footer>
    <p>MEDSoft © 2022</p>
  </footer>
</body>