#resultado{
    background-color: #12333E;
    text-align: center;
    padding: 10px;
    border: 1px solid #12333E;
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    align-items: center;
}
#resultado img{
    max-width: 25px;
    float:left;
}

.descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}