<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivo</title>
    <link rel="stylesheet" href="../css/view.css" />
    <link rel="stylesheet" href="../css/principal.css" />
</head>

<body>
    <header>
        <img src="../img/logo.png" alt="logo_medsoft">
        <nav>
            <ul class="navlist">
                <li><a href="../index.html">PROJETOS</a></li>
                <li><a href="../sobre.html">SOBRE</a></li>
            </ul>
        </nav>
    </header>

    <div class="titulo">
        <h3>NOME DO OBJETIVO</h3>
    </div>

    <main>
        <div class="descricao">
            <h1>Descrição</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                pretium felis justo, in volutpat est facilisis id. Pellentesque
                maximus nunc at lorem varius, ac tristique orci efficitur. Mauris
                auctor purus sed tortor maximus, mollis elementum sapien
                pharetra.</p>

            <h1>Indicadores</h1>
        </div>
        <div class="tabelas">
            <table>
                <tr>
                    <th>ID</th>
                    <th>AÇÃO</th>
                    <th>NOME</th>
                </tr>
                <tr>
                    <td><a href="../indicadores/indicadoresView.html">I01</a></td>
                    <td>Indicador 1</td>
                    <td><a href="../indicadores/indicadoresEdit.html"><img src="../img/lapis.png" class="icon" /></a><img src="../img/lixeira.png" class="icon" /></td>
                </tr>
                <tr>
                    <td><a href="../indicadores/indicadoresView.html">I02</a></td>
                    <td>Indicador 2</td>
                    <td><a href="../indicadores/indicadoresEdit.html"><img src="../img/lapis.png" class="icon" /></a><img src="../img/lixeira.png" class="icon" /></td>
                </tr>
                <tr>
                    <td><a href="../indicadores/indicadoresView.html">I03</a></td>
                    <td>Indicador 3</td>
                    <td><a href="../indicadores/indicadoresEdit.html"><img src="../img/lapis.png" class="icon" /></a><img src="../img/lixeira.png" class="icon" /></td>
                </tr>
                <tr>
                    <td><a href="../indicadores/indicadoresView.html">I04</a></td>
                    <td>Indicador 4</td>
                    <td><a href="../indicadores/indicadoresEdit.html"><img src="../img/lapis.png" class="icon" /></a><img src="../img/lixeira.png" class="icon" /></td>
                </tr>
            </table>

            <a href="./projeto/projetoEdit.html"><button class="botao">Criar Novo</button></a>

        </div>
        <a href="../diretrizes/diretrizesView.html"><button class="btnview centro">Voltar</button></a>
    </main>

    </div>
    <footer>
        <p>MEDSoft © 2022</p>
    </footer>
</body>

</html>