<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Diretriz</title>
  <link rel="stylesheet" href="../css/principal.css" />
</head>

<body>
  <div class="container">
    <header>
      <img src="../img/logo.png" alt="logo_medsoft">
      <nav>
        <ul class="navlist">
          <li><a href="../index.html">PROJETOS</a></li>
          <li><a href="../sobre.html">SOBRE</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h3 class="titulo">DIRETRIZ ESTRATÉGICA ORGANIZACIONAL</h3>
      <div class="form">
        <label for="name">Nome da Diretriz</label><br>
        <input type="text" id="name" placeholder="Insira o nome da diretriz"><br>
        <label for="desc">Descrição</label><br>
        <textarea name="description" id="desc" cols="20" rows="10" placeholder="Descrição da diretriz"></textarea><br>
        <button type="submit">Salvar</button>
      </div>
    </main>

    <footer>
      <p>MEDSoft © 2022</p>
    </footer>
</body>