<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto</title>
  <link rel="stylesheet" href="../css/projeto.css" />
  <link rel="stylesheet" href="../css/principal.css" />
  <link rel="stylesheet" href="../css/view.css" />
</head>

<body>
    <header>
      <img src="../img/logo.png" alt="logo_medsoft">
      <nav>
        <ul class="navlist">
          <li><a href="/views/index.html">PROJETOS</a></li>
          <li><a href="">SOBRE</a></li>
        </ul>
      </nav>
    </header>

    <div class="titulo">
        <p>NOME DO PROJETO</p>
    </div>

    <main>
        <div class="descricao">
            <h2>Descrição</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                pretium felis justo, in volutpat est facilisis id. Pellentesque
                maximus nunc at lorem varius, ac tristique orci efficitur. Mauris
                auctor purus sed tortor maximus, mollis elementum sapien
                pharetra.</p>

            <h2>Propósito de Medição</h2>
            <a href="/views/medicao/medicaoView.html"><button class="btnview">Nome do Propósito</button></a>
            <a href="/views/medicao/medicaoEdit.html"><button class="btnview">+ Adicionar Propósito</button></a>   
        </div>
        <a href="/views/resultadoView.html"><button class="btnview" id="centro"><img src="../img/olho.png">Visualizar Resultado</button></a>
        <a href="/views/index.html"><button class="btnview" id="centro">Voltar</button></a>
    </main>
    
  </div>
  <footer>
      <p>MEDSoft © 2022</p>
    </footer>
</body>

</html>